/*
  how to add css file to html? 1. inline 2.internal 3.external  specifity: inline>internal>external

  three selectors

  global variable

  border must contains: width style color to show up

  what is margin collapse? 
*/

* {
  margin: 0; /*even body has some default value */
  padding: 0;
}

body {
  height: 200px;
  
}

.header {
  width: 100%;
  background-color: green;
}


.overall{
  display: inline-block;
  width:100%;
  padding-top:20px;
 
}

.li {
  display: inline-block;
  
}

.li a{
  text-decoration: none;
  
}

.li a:link{
   color:blue;
}

.li a:visited{
   color:cornflowerblue;
}

.li a:hover{
   color:red;
}
.li a:active{
   color:green;
}


.h1 {
  color: red;
}

#h1 {
  color: green;
}

h2 {
  color: blue;
}

.box_1 {
  height: 20px;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  box-sizing: content-box;
}

.test {
  width: 50%;
  background-color: lightblue;
}

.test::first-letter{
  color:red;
}

.box_2 {
  height: 20px;
  width: 20px;
  margin: 40px;
  padding: 20px;
  border: 2px solid black;
}
