* {
  padding: 0;
  margin: 0;
}

.frame {
  width: 15%;
  margin: 50px auto;
}

.image {
  display: block;
  margin: auto;
  width: 100%;
  border: 4px solid gray;
}

.image:hover {
  outline: 1px solid red;
}
