* {
  padding: 0;
  margin: 0;
}

.frame {
  width: 70%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.country {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.country div {
  width: 100%;
  border: 1px solid black;
  padding: 10px 0;
  background-color: thistle;
}
