* {
  padding: 0;
  margin: 0;
}

body {
  height: 2000px;
}

.background {
  background-image: url("../img/memories.png");
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.outer {
  position: static;
  z-index: -2;
  background-color: orange;
  border: 5px solid black;
  height: 240px;
}

.inner {
  background-color: white;
  width: 95%;
  height: 85%;
  margin: auto;
  margin-top: 18px;
  border: 5px solid black;
}

.set {
  margin: 45px auto;
  width: 95%;
}

.item {
  background-color: gray;
  margin: 4px;
  border: 5px solid black;
  color: white;
  font-size: 10px;
  padding: 5px;
}

.one {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.two {
}

.three {
}
