.input {
  height: 100px;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 35px;
}
