* {
  padding: 0;
  margin: 0;
}
.overall {
  background-color: darkgray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px 0;
  align-items: center;
}

.overall p {
  padding: 24px;
}

.third {
  align-self: right;
}
