.spin{
    width:200px;
    height:200px;
    border:40px solid grey;
    border-top:40px solid blue;
    border-left:40px solid blue;
    border-bottom:40px solid blue;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg);}
}