.hover__header{
   width:100%;
   height:50px;
   background-color: grey;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   color:white;
}

.hover__menu{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover__menu[data-color="Home"]:hover{
  background-color: red;
}
.hover__menu[data-color="News"]:hover{
  background-color: green;
}
.hover__menu[data-color="Contact"]:hover{
  background-color: blue;
}
.hover__menu[data-color="About"]:hover{
  background-color: orange;
}

.hover__content{
  padding:20px 40px;
  color:white;
  font-size: 2rem;;
}