.chooseButton{
  padding:10px;
  margin: 10px 20px;
  border:none;
  background-color: whitesmoke;
}

.chooseButton:hover{
  background-color: grey;
}

.show{
  height:100px;
  width:100px;
  background-color: green;
  border:none;
  color:white;
  margin:5px;
}