.add_expense {
  background-color: dodgerblue;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: blueviolet;
  width: 40%;
  height: 3rem;
  color: white;
  text-align: center;
  padding-top: 2rem;
  border-radius: 15px;
  cursor: pointer;
}
