.form {
  background-color: dodgerblue;
  width: 60%;
  height: 249px;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 0.25rem;
}

.new_overall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new_overall div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.combo label {
  margin-bottom: 10px;
  font-weight: bolder;
}

.combo input {
  width: 20rem;
  max-width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
}

.new_title {
  flex: 1;
}

.new_amount {
  flex: 1;
}

.new_date {
}

.new_button {
  text-align: right;
  margin-right: 2rem;
}

.new_button button {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.85rem;
  border-radius: 10px;
}
