.popup__overall{
   margin:30px 90px;
   position:relative;
}

.popup__content{
  position:absolute;
  top:30px;
  left:-35px;
  background-color: grey;
  color:white;
  padding:2px 10px;
}

.popup__tri{
  width:0;
  height:0;
  border-bottom: 12px solid grey;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  position: absolute;
  left:10px;
  top:20px;
}