.tooltip__overall{
    padding:30px 100px;
}

.tooltip__keyword{
    position:relative;
}

.tooltip__keyword:hover  .tooltip__content{
    display: flex;
}

.tooltip__content{
    background-color: darkgrey;
    position:absolute;
    top:40px;
    left:-30px;
    height:30px;
    display: none;
    align-items: center;
    justify-content: center;
    padding:1px 5px;
    
}

.tooltip__arrow{
    width:0;
    height:0;
    border-bottom: 10px solid darkgrey;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    position:absolute;
    top:-10px;
    left:37px;
}