.test {
  background-color: red;
  width: 10%;
  margin: 20rem auto;
  transform: rotateZ(45deg) translateX(2rem);
  opacity: 50%;
  transition: transform 2000ms, opacity ease-in 5000ms;
}

.open {
  opacity: 1;
  transform: rotateZ(90deg) translateX(9rem);
}

.test_1 {
  background-color: red;
  width: 10%;
  margin: 20rem auto;
  transform: rotateZ(45deg) translateX(2rem);
  opacity: 50%;
  transition: transform 2000ms, opacity ease-in 5000ms;
}

.open_1 {
  animation: change 2000ms 1s 4 alternate-reverse;
}

@keyframes change {
  from {
    transform: rotateZ(45deg) translateX(2rem);
    opacity: 50%;
  }
  to {
    opacity: 1;
    transform: rotateZ(90deg) translateX(9rem);
  }
}
