* {
  padding: 0;
  margin: 0;
}

.frame {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: black;
  border: none;
}
.left,
.right {
  display: flex;
}

.left a,
.right a {
  text-decoration: none;
  color: white;
  padding: 0.75rem 1rem;
}

.home {
  background-color: green;
}

.left .news:hover,
.left .contact:hover,
.right a:hover {
  background-color: whitesmoke;
  color: black;
}
