* {
  padding: 0;
  margin: 0;
}

.caption {
  text-align: center;
  color: red;
  font-weight: bolder;
  font-size: 25px;
}

.block label {
  margin: 0px 5px;
}

.block input:hover{
  border:2px solid green; 
}

.block input:focus{
  border:2px solid green; 
  background-color: lightgreen;
  outline-color: green;
}


.title {
  display: block;
  width: 100%;
  margin: 15px 5px;
}
.first_name {
  display: block;
  width: 100%;
  margin: 15px 5px;
}
.last_name {
  display: block;
  width: 100%;
  margin: 15px 5px;
}
.email {
  display: block;
  width: 100%;
  margin: 15px 5px;
}
.password {
  display: block;
  width: 100%;
  margin: 15px 5px;
}
.term {
  font-size: 15px;

}
#term{
  appearance: none;
  border:1px solid #ccc;
  background-color: white;
  width:1rem;
  height:1rem;
}
#term:checked{
  background-color: green;

}


.signup {
  margin-top:15px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: green;
  border: none;
}

.signup:hover{
  background-color: white;
  color:green;
  border:1px solid green;
}

.signup[disabled]{
  background-color: grey;
  color:white;
  border:none;
}
