.v_out {
  width: 40%;
  height: 200px;
  background-color: aqua;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -300px;
  left: 0;
}
.v_words {
  text-align: center;
  font-weight: bolder;
}

.v_button {
  align-self: flex-end;
  margin-right: 2rem;
  width: 4rem;
  background-color: darkgreen;
  color: white;
  padding: 0.25rem;
  border: none;
}
