* {
  margin: 0;
  padding: 0;
}
.overall {
  margin: 1.25rem auto;
  padding: 2rem 1.25rem;
  width: 60%;
  background-color: darkseagreen;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
}

.badge {
  text-transform: uppercase;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: chocolate;
  padding: 5px;
  color: white;
  border-radius: 2px;
  font-weight: bolder;
  transform: rotateZ(45deg) translateX(2.2rem) translateY(0.1rem);
  transform-origin: center;
  width: 7rem;
  text-align: center;
}

.caption {
  margin-top: 20px;
  font-weight: bolder;
}

.choice {
  margin: 15px 0;
  color: dimgrey;
  font-size: 20px;
  font-weight: bolder;
}

.benefit {
  border: 2px solid green;
  background-color: white;
  color: green;
  padding: 14px;
  font-weight: bolder;
}
