.frame {
  background-color: white;
  border: 1px solid black;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  position: fixed;
  left: 25vw;
  z-index: 100;
}
