.fadingclick__overall{
   padding:15px;
}

.fadingclick__button{
   padding:10px;
   height:100px;
   width:100px;
   margin:0 20px;
}

.fadingclick__button[data-color = "Success"]{
  color:white;
  border:1px solid green;
  background-color: green;
  border-radius: 50%;
}
.fadingclick__button[data-color = "Success"]:hover{
  color:green;
  border:1px solid green;
  background-color: white;
}

.fadingclick__button[data-color = "Info"]{
  color:white;
  border:1px solid blue;
  background-color: blue;
  width:200px;
  border-radius: 50%;
}
.fadingclick__button[data-color = "Info"]:hover{
  color:blue;
  border:1px solid blue;
  background-color: white;
}

.fadingclick__button[data-color = "Danger"]{
  color:white;
  border:1px solid red;
  background-color: red;
  height:100px;
  width:150px;
  border-radius: 16px;
}
.fadingclick__button[data-color = "Danger"]:hover{
  color:red;
  border:1px solid red;
  background-color: white;
}